<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<mat-toolbar color="primary">
  <span>DNA ERUS CHALLENGE <mat-icon>fingerprint</mat-icon></span>
  <span class="example-spacer"></span>
  <button routerLink="/stats" mat-button> Stats <mat-icon>query_stats</mat-icon></button>
  <button routerLink="/list" mat-button> List <mat-icon>list_alt</mat-icon></button>
</mat-toolbar>

<router-outlet></router-outlet>